@{
    ViewBag.Title = "Api";
}

<h2>@ViewBag.Title</h2>


<h3>Функции API</h3>
<table>
    <tr>
        <th>Функция</th>
        <th>Аргументы</th>
        <th>Возвращаемое значение</th>
        <th>Описание</th>
    </tr>
    <tr>
        <th colspan="4">Основная информация о посетителе</th>
    </tr>
    <tr>
        <td><code>getVisitorName</code></td>
        <td>-</td>
        <td>
            <ul class="clear">
                <li><strong>name</strong> — имя посетителя</li>
            </ul>
        </td>
        <td>Возвращает имя посетителя музея.</td>
    </tr>
    <tr>
        <td><code>getVisitorInfo</code></td>
        <td>-</td>
        <td>
            <ul class="clear">
                <li><strong>group</strong> — группа</li>
                <li><strong>course</strong> — курс</li>
                <li><strong>age</strong> — возраст</li>
            </ul>
        </td>
        <td>Получает более подробную информацию о посетителе музея.</td>
    </tr>
    <tr>
        <th colspan="4">Работа с игровыми объектами</th>
    </tr>
    <tr>
        <td><code>markGameObject</code></td>
        <td>
            <ul class="clear">
                <li><strong>id</strong> — идентификатор игрового объекта.</li>
            </ul>
        </td>
        <td>-</td>
        <td>Отмечает/убирает отметку о том, что пользователь отметил объект.</td>
    </tr>
    <tr>
        <td><code>checkGameObject</code></td>
        <td>
            <ul class="clear">
                <li><strong>id</strong> — идентификатор игрового объекта.</li>
            </ul>
        </td>
        <td>
            <ul class="clear">
                <li><strong>state</strong> — статус отметки игрового объекта.</li>
            </ul>
        </td>
        <td>Отмечает/убирает отметку о том, что пользователь отметил объект.</td>
    </tr>
</table>

<h3>Ответ от web-сервера</h3>
<p>Любой ответ обязательно содержит параметр <code>success</code>, который указывает, правильно ли обработана команда.</p>

<h3>Индикация сообщений об ошибке в Unity</h3>
<p>При возникновении какой-либо ошибки вызывается метод Unity, единственным аргументом которого будет строка с сообщением об ошибке.</p>
