@{
    ViewBag.Title = "Музей";
    ViewBag.BreadCrumbs = new CultureITS.Helpers.BreadCrumbsBuilder().Generate(ViewBag.Title);
}

<div id="unityPlayer">
    <div class="missing">
        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
            <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
        </a>
    </div>
    <div class="broken">
        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
            <img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
        </a>
    </div>
</div>

<a href="#" id="markGameObject1" class="button">markGameObject1</a>
<a href="#" id="checkGameObject1" class="button">checkGameObject1</a>
<a href="#" id="getGameObjectInfo1" class="button">getGameObjectInfo1</a>

<a href="#" id="showTestPopup1" class="button">TEST</a>

@section popup_windows {
    <div class="popup_window" id="TestPopup">
        <div class="popup_head">
            <span id="TestHeader"></span>
            <div class="popup_close">Х</div>
        </div>
        <div class="popup_cont">
            <div id="TestStart" style="display: none">
                <h3>Основные сведения о тестировании</h3>
                <table class="little-table">
                    <tr>
                        <th>Название</th>
                        <td><span id="TestStartTitle"></span></td>
                    </tr>
                    <tr>
                        <th>Название</th>
                        <td><span id="TestStartTopic"></span></td>
                    </tr>
                    <tr>
                        <th>Число вопросов</th>
                        <td><span id="TestStartQuestionsCount"></span></td>
                    </tr>
                    <tr>
                        <th>Автор</th>
                        <td><span id="TestStartAuthor"></span></td>
                    </tr>
                    <tr>
                        <th>Попытки прохождения</th>
                        <td><span id="TestStartResultsCount"></span></td>
                    </tr>
                    <tr>
                        <th>Дата последней попытки</th>
                        <td><span id="TestStartDate"></span></td>
                    </tr>
                    <tr>
                        <th>Продолжение предыдущей попытки?</th>
                        <td><span id="TestStartOpened"></span></td>
                    </tr>
                </table>
                <button id="TestStartButton">Начать тестирование</button>
            </div>
            <div id="TestMain" style="display: none">
                <div>Вопрос <span id="TestMainQuestionNumber"></span>&nbsp;из&nbsp;<span id="TestMainQuestionCount"></span>.</div>
                <h2><span id="TestMainText"></span></h2>
                <ul id="TestMainAnswers"></ul>
                <button class="button" id="TestMainButton">Ответить</button>
            </div>
            <div id="TestResult" style="display: none">
                <h2>Результаты тестирования</h2>
                <table class="little-table" id="TestResultTable">
                    <tr>
                        <th>Вопрос</th>
                        <th>Баллов набрано</th>
                        <th>Баллов максимально</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/UnityObject2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/UnityAPI.js")"></script>

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        //fake functions
        $('#markGameObject1').click(function () { markGameObject(1); });
        $('#checkGameObject1').click(function () { checkGameObject(1); });
        $('#getGameObjectInfo1').click(function () { getGameObjectInfo(1, false); });
        $('#showTestPopup1').click(function () { showTestPopup(1); });
    </script>

    <script type="text/javascript">
        var config = {
            width: 1170,
            height: 700,
            params: { enableDebugging: "0" }

        };
        var u = new UnityObject2(config);

        jQuery(function () {
            var $missingScreen = jQuery("#unityPlayer").find(".missing");
            var $brokenScreen = jQuery("#unityPlayer").find(".broken");
            $missingScreen.hide();
            $brokenScreen.hide();

            u.observeProgress(function (progress) {
                switch (progress.pluginStatus) {
                    case "broken":
                        $brokenScreen.find("a").click(function (e) {
                            e.stopPropagation();
                            e.preventDefault();
                            u.installPlugin();
                            return false;
                        });
                        $brokenScreen.show();
                        break;
                    case "missing":
                        $missingScreen.find("a").click(function (e) {
                            e.stopPropagation();
                            e.preventDefault();
                            u.installPlugin();
                            return false;
                        });
                        $missingScreen.show();
                        break;
                    case "installed":
                        $missingScreen.remove();
                        break;
                    case "first":
                        break;
                }
            });
            u.initPlugin(jQuery("#unityPlayer")[0], '@Url.Content("~/Content/Unity.bin")');
        });
    </script>
}
