@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,500&subset=latin,cyrillic);

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Ubuntu',sans-serif;
    color: #f0f0f0;
    background-color: #222;
    font-weight: 300;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

header, footer, nav, section {
    display: block;
}

a.external:after {
    content: ' \f08e';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 0.7em;
    text-decoration: none;
}

#headerWrap,
article,
#footerWrap,
#promoWrapper {
    width: 968px;
    margin: 0 auto;
}

#articleWrap {
    background-color: #333;
    padding-bottom: 50px;
}

article {
    padding: 3px;
}

header {
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    box-shadow: #555 0 0 10px;
}

    header a {
        text-decoration: none;
    }

.loginform {
    float: right;
    width: 250px;
    margin-top: 15px;
    text-align: right;
}

nav {
    margin-right: 260px;
    font-size: 1.3em;
}

    nav .brand {
        font-weight: 500;
        padding-left: 0;
    }

    nav > ul {
        padding: 0;
        margin: 0;
    }

        nav > ul > li {
            list-style-type: none;
            display: inline-block;
            padding: 15px 10px;
        }


p {
    text-align: justify;
}

a {
    color: #f0f0f0;
}

    a:hover {
        text-decoration: none;
    }

input, textarea {
    border: 1px solid #333;
    background-color: #666;
    color: #f0f0f0;
    padding: 2px;
}

    input[type="text"],
    input[type="password"] {
        width: 200px;
    }

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #606060;
    padding: 3px;
}

th {
    background-color: #666;
    font-weight: normal;
}

td {
    background-color: #444;
}

footer {
    padding: 10px;
    color: #999;
    height: 100px;
}

.button {
    color: #333;
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin: 3px;
    border: 1px solid #666;
    border-radius: 3px;
    text-decoration: none;
}

    .button:hover {
        color: #000;
        background-color: #ccc;
        cursor: pointer;
    }

.button-green {
    background-color: #b0ffad;
    border-color: #030;
}

    .button-green:hover {
        background-color: #7eff79;
    }

.button-red {
    background-color: #f00;
    border-color: #300;
}

    .button-red:hover {
        background-color: #d00000;
    }

.button-big {
    padding: 10px;
    font-size: 1.3em;
}

.button-small {
    padding: 3px;
    margin: 3px;
    font-size: 0.9em;
}

.post-image {
    padding: 5px;
    margin: 5px;
}

.image-left {
    float: left;
}

.image-right {
    float: right;
}

.none {
    display: none;
}

/* for lists */
.clear {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* for table cells */
.top {
    vertical-align: top;
}

.cnt {
    text-align: center;
}

/* STYLES FOR SINGLE PAGES */
#promo {
    background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffa84c 0%,#ff7b0d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
    height: 250px;
    box-shadow: #ffa84c 0 0 10px;
    position: absolute;
    left: 0;
    width: 100%;
    text-shadow: #999 1px 1px 0;
}

    #promo h1 {
        padding: 20px 0;
        text-align: center;
        font-size: 2.5em;
        font-weight: 500;
        font-style: italic;
    }

    #promo .sign {
        margin-top: 3em;
        text-align: center;
    }

#promoSpacer {
    height: 250px;
}

.login-description {
    float: right;
    width: 400px;
    border-left: 1px solid #666;
    padding-left: 15px;
}

fieldset.user-info {
    width: 400px;
}

    fieldset.user-info table {
        width: 100%;
    }

#UnityFake {
    width: 968px;
    height: 700px;
    background-color: #666;
    border: 3px dashed #999;
    overflow: hidden;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ccc;
    padding: 1.5em;
    margin: 0 0 1.5em 0;
}

legend {
    color: #ccc;
    font-size: 1.1em;
    font-weight: 500;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #900;
}

.validation-summary-errors {
    padding: 5px;
    margin: 15px 0;
    background-color: #933;
    border: 1px solid #f00;
    border-radius: 5px;
    color: #fff;
}

.validation-summary-valid {
    display: none;
}
