@{
    ViewBag.Title = "Панель управления";
    ViewBag.BreadCrumbs = new CultureITS.Helpers.BreadCrumbsBuilder().Generate(ViewBag.Title);
}

<div class="advant cont">
    <div class="advant_item">
        <div class="item_icon advant1">&nbsp;</div>
        <p class="advant_title">Музейные экспонаты</p>
        <p class="advant_text">
            Здесь Вы можете изменять ин&shy;фор&shy;ма&shy;цию о музейных экспонатах, а также создавать, изменять и удалять ма&shy;те&shy;ри&shy;алы, связанные с ними.
        </p>
        <a href="@Url.Action("Index", "Exhibit")" class="advant_more_btn">Перейти</a>
    </div>
    <div class="advant_item">
        <div class="item_icon advant3">&nbsp;</div>
        <p class="advant_title">Пользователи</p>
        <p class="advant_text">
            На этой странице Вы можете посмотреть список пользователей сис&shy;те&shy;мы, или даже создавать поль&shy;зо&shy;ва&shy;те&shy;лей, если Вы администратор.
        </p>
        <a href="@Url.Action("Index", "User")" class="advant_more_btn">Перейти</a>
    </div>
    <div class="advant_item">
        <div class="item_icon advant4">&nbsp;</div>
        <p class="advant_title">Тесты</p>
        <p class="advant_text">
            Здесь у Вас есть право изменять тесты, а также добавлять, менять и удалять вопросы к ним. Если Вы не ад&shy;ми&shy;ни&shy;стра&shy;тор, увы, удалять и создавать тесты нельзя.
        </p>
        <a href="@Url.Action("Index", "Test")" class="advant_more_btn">Перейти</a>
    </div>
    <div class="advant_item">
        <div class="item_icon advant2">&nbsp;</div>
        <p class="advant_title">Права</p>
        <p class="advant_text">
            На этой странице доступна настройка прав для новых страниц. Если не знаете, для чего это нужно, не заходите сюда.
        </p>
        <a href="@Url.Action("Index", "Rights")" class="advant_more_btn">Перейти</a>
    </div>
</div>