@{
    ViewBag.Title = "Панель администрирования";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li><a class="external" href="@Url.Action("Index", "User")">Пользователи</a></li>
    <li><a class="external" href="@Url.Action("Index", "Test")">Тесты</a></li>
    <li><a class="external" href="@Url.Action("Index", "Article")">Материалы</a></li>
</ul>
