<table class="little-table">
    <tr>
        <th>Название</th>
        <td><span id="TestStartTitle"></span></td>
    </tr>
    <tr>
        <th>Название</th>
        <td><span id="TestStartTopic"></span></td>
    </tr>
    <tr>
        <th>Число вопросов</th>
        <td><span id="TestStartQuestionsCount"></span></td>
    </tr>
    <tr>
        <th>Автор</th>
        <td><span id="TestStartAuthor"></span></td>
    </tr>
    <tr>
        <th>Попытки прохождения</th>
        <td><span id="TestStartResultsCount"></span></td>
    </tr>
    <tr>
        <th>Дата последней попытки</th>
        <td><span id="TestLastDate"></span></td>
    </tr>
    <tr>
        <th>Продолжение предыдущей попытки?</th>
        <td><span id="TestStartOpened"></span></td>
    </tr>
</table>
