@model CultureITS.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Профиль пользователя";
}

<h2>@ViewBag.Title</h2>
<p>Добро пожаловать на страницу Вашего профиля. Здесь можно посмотреть основную информацию об учётной записи, статистику по использованию системы, а также есть возможнсть сменить некоторые данные.</p>
<fieldset class="user-info">
    <legend>Информация о пользователе</legend>

    @Helpers.WriteUserInfoTable(Model.Item)
</fieldset>

<h3>Вы отметили для себя</h3>
@if (Model.Item.GameObjects.Count == 0)
{
    <p>Здесь будут показываться предметы музея, которые вы отметили для себя. Отмечайте экспонаты музея, чтобы прочитать про них подробную информацию!</p>
}
else
{
    <p>adf</p>   
}

<h3>Тестирование</h3>
<p>Здесь будут показаны результаты тестирования. Его можно пройти в каждой комнате музея у специального стенда. Также Вы можете посмотреть детальную статистику прохождения тестирования.</p>