@{
    ViewBag.Title = "Профиль пользователя";
}

<h2>@ViewBag.Title</h2>
<p>Добро пожаловать на страницу Вашего профиля. Здесь можно посмотреть основную информацию об учётной записи, статистику по использованию системы, а также есть возможнсть сменить некоторые данные.</p>
<fieldset class="user-info">
    <legend>Информация о пользователе</legend>
    <table>
        <tr>
            <th>Имя</th>
            <td>-</td>
        </tr>
        <tr>
            <th>Логин</th>
            <td>-</td>
        </tr>
        <tr>
            <th>Роль</th>
            <td>-</td>
        </tr>
    </table>
</fieldset>