@{
    ViewBag.Title = "Styles";
}

<h2>@ViewBag.Title</h2>

<h1>Заголовок 1</h1>
<h2>Заголовок 2</h2>
<h3>Заголовок 3</h3>
<h4>Заголовок 4</h4>
<h5>Заголовок 5</h5>
<h6>Заголовок 6</h6>

<h2>Новости</h2>
<div class="post">
    <div class="post-title">
        <h3>Title</h3>
    </div>
    <div class="post-content">
        <img class="image-left" src="#" alt="image-left" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut dapibus magna. In odio mauris, posuere id faucibus ac, sodales ut orci. Nam sit amet mi ut nulla vestibulum accumsan. Proin quis enim quis risus vestibulum pellentesque et ac velit. Ut id egestas quam. Curabitur quam lorem, egestas ac elit vel, pulvinar tincidunt nisi. Aliquam ultricies magna eget lobortis commodo. Morbi elementum urna libero, sit amet auctor nulla posuere non. Nulla felis sapien, sollicitudin et eros nec, vestibulum interdum sapien. Nullam eget orci leo. Phasellus porttitor, tortor mollis tempus vulputate, odio mauris sollicitudin ante, vel tincidunt nulla libero eget tortor.</p>
        <img class="image-right" src="#" alt="image-right" />
        <p>Aenean dui turpis, dignissim a vulputate non, lacinia sit amet dui. Nullam malesuada massa sit amet tincidunt laoreet. Morbi ante tortor, varius et neque in, tempus placerat mi. Sed vel porta nisl. Aliquam erat volutpat. In interdum, mi nec suscipit adipiscing, diam urna ultricies dolor, nec scelerisque mi quam placerat risus. Integer consectetur iaculis urna quis ultrices. Sed faucibus, risus vel mattis iaculis, nunc tortor gravida purus, ut feugiat purus nisi at mauris. Ut in sodales arcu. Etiam ullamcorper interdum commodo. Nulla tincidunt, augue id suscipit bibendum, elit metus semper diam, ac scelerisque libero mauris sit amet diam. Mauris suscipit purus purus, eget egestas risus viverra at. Duis aliquet libero quam, eu euismod elit ultrices scelerisque. Etiam arcu risus, consectetur id lorem ac, pellentesque pharetra tortor. Sed dictum, odio id venenatis viverra, lacus tortor fringilla lacus, a vestibulum ipsum turpis id nisl.</p>
    </div>
</div>

<h2>Списки</h2>
<ul>
    <li>1</li>
    <li>1
        <ul>
            <li>2</li>
            <li>2</li>
        </ul>
    </li>
</ul>

<ol>
    <li>1</li>
    <li>1
        <ul>
            <li>2</li>
            <li>2</li>
        </ul>
    </li>
</ol>

<h2>Элементы форм</h2>
<div><input type="text" /></div>
<div><textarea></textarea></div>
<div><select>
    <option>123</option>
    <option>456</option>
    <option>789</option>
     </select></div>
<div>
    <input type="checkbox" /> — 123<br />
    <input type="checkbox" /> — 123<br />
    <input type="checkbox" /> — 123<br />
</div>
<div>
    <input type="radio" name="r" /> — 456<br />
    <input type="radio" name="r" /> — 456<br />
    <input type="radio" name="r" /> — 456<br />
</div>
<div><button>Button</button></div>