p {
    text-align: justify;
}

.little-table tr td.warning {
    background: #fffff0;
}

.little-table tr td.error {
    background: #fff0f0;
}

.little-table tr td.success {
    background: #f0fff0;
}

#ExhibitApplication img,
.ExhibitApplication,
.ProfileApplication {
    padding: 0 10px 10px 10px;
    float: left;
}

.ExhibitDescription {
    padding: 3px;
    max-height: 100px;
    overflow: auto;
}

.applicationWrapper {
    max-height: 120px;
    overflow: hidden;
}

    .applicationWrapper img {
        width: 100px;
    }

.line2 {
    overflow: hidden;
}

.display-label {
    font-weight: bold;
}

.display-field {
    margin-bottom: 1em;
}

#MainContentWrapper {
    min-height: 200px;
}